<div class="container">
    <div class="card-container">
        <app-description-card [dataCard]="dataCard"></app-description-card>

        <p-card [style]="cardStyle">
            <ng-template pTemplate="header">
                Información sobre los observables
            </ng-template>
            Los observables son básicamente un objeto que puede emitir valores. 

            <br> <br>
            
            Es importante saber que para que un observable se ejecute 
            debe tener una <span class="special">suscripción. 👀</span>
            
            <br> <br>

            En el siguiente ejemplo se utiliza el método <span class="special">next</span>
            el cual permite emitir valores a sus suscriptores y el método <span class="special">complete</span>
            indica que el observable no va a emitir más valores. 
        </p-card>
    </div>

    <p-divider align="left" styleClass="divider">
        <span class="p-tag">Código</span>
    </p-divider>

    <div class="code">
        <app-code-block [code]="js_code" language="js"></app-code-block>
    </div>
</div>

