<div class="container">
    <p-card [style]="cardStyle">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/rxjs.png" [style]="imageStyle">
        </ng-template>
        <div class="title">
            ¿Qué son los operators?
        </div>
        <p-divider></p-divider>
        <ul>
            <li> Usados para transformar observables (map, group, scan...) </li>
            <li> Usados para filtrar observables (filter, distinct, skip, debounce...) </li>
            <li> Usados para combinar observables. </li>
            <li> Usados para crear nuevos observables. </li>
        </ul>
    </p-card>
</div>