
<div class="container">
    <div class="card-container">
        <app-description-card [dataCard]="dataCard"></app-description-card>
        
        <div class="code">
            <app-code-block [code]="subscriber_code" language="js"></app-code-block>
        </div>
    </div>

    <p-divider align="left" styleClass="divider">
        <span class="p-tag-special"> Importante ⚠ </span>
    </p-divider>

    <div>
        <p> ❗ Complete no es lo mismo que Unsubscribe. </p>

        <p>
            ❗ Luego de ejecutar el unsubscribe se ejecuta la función
            del return del Observable.
        </p>
    </div>

    <p-divider align="left" styleClass="divider">
        <span class="p-tag-special">Suscripciones aninadas 🤔</span>
    </p-divider>

    <div class="code-full">
        <app-code-block [code]="double_subscriber" language="js"></app-code-block>
    </div>

    <p-divider align="left" styleClass="divider">
        <span class="p-tag-special"> En resumen 😎 </span>
    </p-divider>

    <app-description-card style="margin-top: 2rem;" [dataCard]="cardData"></app-description-card>
</div>