<p-card [style]="cardStyle">
    <ng-template pTemplate="header">
        <img alt="Card" src="{{dataCard.imageURL}}" [style]="imageCardStyle">
    </ng-template>
    <div class="title">
        {{ dataCard.title }}
    </div>
    
    <p-divider></p-divider>

    <ng-container [ngSwitch]="dataCard.isList">
        <ng-container *ngSwitchCase="true">
            <ul>
                <li *ngFor="let item of dataCard.listContent"> {{ item }} </li>
            </ul>
        </ng-container>

        <ng-container *ngSwitchCase="false">
            <p> 
                {{ dataCard.text }}
                
                <span class="special" *ngIf="dataCard.resume">
                    <br> <br>
                    {{ dataCard.resume }} 
                </span>
            </p>
        </ng-container>
    </ng-container>
</p-card>