<p-card [style]="dataCard.styleClass">
    <ng-template pTemplate="header">
        <img [src]="dataCard.imageURL" [style]="dataCard.imageStyle" alt="Card">
    </ng-template>
    <div class="title">
        {{ dataCard.title }}
    </div>
    
    <p-divider *ngIf="dataCard.showDivider"></p-divider>

    <ng-container [ngSwitch]="dataCard.isList">
        <ng-container *ngSwitchCase="true">
            <ul>
                <li *ngFor="let item of dataCard.listContent"> {{ item }} </li>
            </ul>
        </ng-container>

        <ng-container *ngSwitchCase="false">
            <ng-container *ngSwitchCase="false">
                <p [innerHtml]="dataCard.text"></p>
            </ng-container>
        </ng-container>
    </ng-container>
</p-card>