.container {
    display: flex;
    margin: 3rem 1rem 0rem;
    justify-content: space-between;
}

.content-fieldset {
    display: flex; 
    flex-direction: column;
    
    > * {
        margin-bottom: 1rem;
    }
}

.container-cards {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }
}