.container {
    display: flex;
    margin: 3rem;
    justify-content: space-around;
}

.content-fieldset {
    display: flex; 
    flex-direction: column;
    
    > * {
        margin-bottom: 1rem;
    }
}