<div class="container">
    <div class="content-fieldset">
        <ng-container *ngFor="let item of reactiveNotesData">
            <app-fieldset [fieldSetData]="item"></app-fieldset>
        </ng-container>
    </div>

    <div class="container">
        <app-card [cardData]="cardData"></app-card>
    </div>
</div>

<p-divider align="left" styleClass="divider">
    <p-button label="¿Qué es RxJS?" icon="pi pi-code" (onClick)="toggleRxJS()"></p-button>
</p-divider>

<div class="container" *ngIf="showRxJS">
    <ng-container *ngFor="let item of rxjsData; let i = index;">
        <app-fieldset 
            [fieldSetData]="item" 
            [ngStyle]="{'margin-left': i === 1 ? '2rem' : null }">
        </app-fieldset>
    </ng-container>
</div>

<p-divider align="left" styleClass="divider">
    <p-button label="¿Qué significa todo eso?" icon="pi pi-code" (onClick)="toggleContentRxJS()"></p-button>
</p-divider>

<div class="container" *ngIf="showContentRxJS" style="flex-wrap: wrap;">
    <ng-container [style]="cardStyle" *ngFor="let card of descriptionCards">
        <app-description-card [dataCard]="card"></app-description-card>
    </ng-container>
</div>